<a routerLink="/produto">
<mat-grid-list cols="4">
  <mat-grid-tile>
    <mat-card class="card">
      <img mat-card-image src="" alt="produto">
      <div class="cardProduto">
        <mat-card-content>
          <p class="description">The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.</p>
        </mat-card-content>
        <img mat-card-image src="assets/img/avaliacao.png" alt="avaliacao" class="avaliation" width="80" height="15">
        <mat-grid-list cols="2" class="prices">
          <mat-grid-tile class="price"><p>R$13,90</p></mat-grid-tile>
          <mat-grid-tile class="promotionPrice"><p>R$13,90</p></mat-grid-tile>
      </mat-grid-list>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</a>
